/* CSS Document */
body{ line-height:32px; }
body *,h2,h3,p,ul,li,dl,dt,dd{ display:block; list-style: none; margin:0px; padding:0px;font-family: "汉仪细中圆简"}
a:hover{ color:#CCC}
a:visited{ text-decoration: underline}
a:link{ text-decoration:none}
.header,.zhi{ width:640px; margin:0px auto; overflow:hidden; background:#FFF}
.zhi{ height:80px; width:640px; background:#ff6478; }
.zhi div{ width:80px; float:left; height:80px; line-height:80px;}
.zhi div img{margin:0px auto; padding:24px 0px}
.zhi span{ width:80px; float:right; height:80px; line-height:80px;}
.zhi span img{ margin:0px auto; padding:17px 0px }
.zhi h2{ width:480px; float:left; font-size:36px; font-family: "汉仪细中圆简"; height:80px; line-height:80px; text-align:center; font-weight:normal; color:#FFF;}
.shi{ width:640px; overflow:hidden; background:#FFF}
.shi dt{ width:640px; height:55px; line-height:55px; border-bottom: solid 1px #f0f0f0}
.shi dt ol{ display:inline;}
.shi dt ol li{ width:213px; float:left; text-align:center; font-size:24px; height:55px; line-height:55px;}
.shi dt ol li.cli{height:54px; line-height:54px; border-bottom: solid 2px #ff6478; color: #ff6478}
.shi dd{ width:640px;}
.shi dd ul{ display:inline}
.shi dd ul li{ width:610px; height:50px; line-height:50px; padding-left:30px; font-size:20px; border-bottom: solid 1px #ececec}
.shi dd ul li.cli1{ background:#f4f4f4}

