<div class="userSet">
	<nav class="userSet-navbar clearfix">
		<div class="userSet-navbar-left">
			<a href="#/user">
				<img src="./modules/User/images/user-arrow-prev.png" alt="">
			</a>
		</div>
	</nav>
	<section class="userSet-list">
		<ul class="primary">
			<li>
				<a href="#/user/set/info">
					<img src="./modules/User/images/user-icon-pen.png" alt="">
					<span>修改资料</span>
					<img src="./modules/User/images/user-arrow-next.png" class="arrow-next" alt="">
				</a>
			</li>
			<li>
				<a href="#/user/set/identify">
					<img src="./modules/User/images/user-icon-pen.png" alt="">
					<span>身份认证</span>
					<img src="./modules/User/images/user-arrow-next.png" class="arrow-next" alt="">
				</a>
			</li>
		</ul>
		<ul class="secondary">
			<li>
				<a href="#">
					<img src="./modules/User/images/user-icon-about.png" alt="">
					<span>关于time</span>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="./modules/User/images/user-icon-question.png" alt="">
					<span>常见问题</span>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="./modules/User/images/user-icon-message.png" alt="">
					<span>意见反馈</span>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="./modules/User/images/user-icon-garbage.png" alt="">
					<span>清除缓存</span>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="./modules/User/images/user-icon-good.png" alt="">
					<span>将time推荐给朋友</span>
				</a>
			</li>
			<li class="btn">
				<button class="exit" ng-click="loginOut()">退出登录</button>
			</li>
		</ul>
	</section>
</div>