<div class="userSet-identify">
	<nav class="userSet-identify-navbar clearfix">
		<div class="userSet-identify-navbar-left">
			<a href="#/user/set"><img src="./modules/User/images/user-arrow-prev.png" alt=""></a>
		</div>
		<div class="userSet-identify-navbar-right">
			
		</div>
	</nav>

	<div class="userSet-identify-content">
		<form>
			<div class="userSet-identify-content-container">
				<section class="userSet-identify-info">
					<ul>
						<li>
							<input type="text" placeholder="真实姓名" required>
							<img src="./modules/User/images/user-icon-pen.png" alt="">
						</li>
						<li>
							<input type="text" placeholder="学校" required>
							<img src="./modules/User/images/user-icon-pen.png" alt="">
						</li>
						<li>
							<input type="text" placeholder="年级" required>
							<img src="./modules/User/images/user-icon-pen.png" alt="">
						</li>
						<li>
							<input type="text" placeholder="学院" required>
							<img src="./modules/User/images/user-icon-pen.png" alt="">
						</li>
					</ul>
				</section>
				<section class="userSet-identify-card">
					<div class="upload">
						点击上传学生证
					</div>
				</section>
				<button>提交等待审核</button>
			</div>
		</form>
	</div>
</div>